apks/
.DS_Store
cyberpower IP.txt
.env
credentials.json
data/
logs/
~$*
test_email.py
xbox_tokens.json
rootAVD/
ZygiskFrida/
.idea/
frida-gadget-failed-instructions.xlsx
override_ua.js
psnawp_test.py
.venv/
test_psn_batch.py
test_psn.py
